/*Cascata e herança*/        
/*p{
    color: red
}

p{
    color: blue;
}*/
        
        
        
        
        
        
        
        
        
        
        
        
        /*CSS do exercício Classe e ID
        h2{
            color: blue;
        }

        a{
            color: green;
        }

        p{
            color: orange;
        }
        li{
            border: 1px solid blue;
            background-color: lightblue;
        }

        table{
            background-color: orange;
            border: maroon solid 3px;  
        }
        th{
            border:black solid 2px;
        } */